/* 清除默认样式+设置通用样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    color: #333;
    background-color: rgba(233, 233, 233, 0.6);
}

a {
    color: #333;
    text-decoration: none;
}