@font-face {
  font-family: "iconfont"; /* Project id 5116650 */
  src: url('iconfont.woff2?t=1769346921892') format('woff2'),
       url('iconfont.woff?t=1769346921892') format('woff'),
       url('iconfont.ttf?t=1769346921892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e67e";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-down-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-guanbi:before {
  content: "\e620";
}

.icon-bianji:before {
  content: "\e622";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-jinru:before {
  content: "\e621";
}

.icon-bisai:before {
  content: "\e60f";
}

.icon-shuju:before {
  content: "\e8b9";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-chart-bar:before {
  content: "\e667";
}

.icon-file-common:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e674";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-user-filling:before {
  content: "\e68b";
}

